body {
    padding: 15px;
    /* keeps a space around perimeter of page */
    display: flex;
    flex-flow: row wrap;
    /* puts everything into a row */
    align-content: center;
    justify-content: space-between;
    background: #F3E5E8;
    ;
}

iframe {
    border: 3px solid #4b4b4b;
    /* creates border around frames */
    margin-bottom: -160px;
    /* to move up frames */
}